.recommendation-container-container{
  text-align: center;
  padding: 10px 0;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  cursor:default;
  .time{
    color:#E16D78;
    font-weight:700;
  }
  .context{
    font-weight:400;
  }
}